// Import modules
@use '../abstracts/variables' as v;

.btn {
  // cursor: pointer;

  // @TODO refactor padding of primary button for consistency with --reward  button
  &--primary {
    flex: 1;
    font-size: 1.4rem;
    font-weight: bold;
    color: v.$btn-primary-text-color;
    background-color: v.$btn-primary-background-color;
    border: none;
    border-radius: 3rem;
  }

  &__bookmark {
    width: 5.6rem;
    height: 5.6rem;
    background: top left/contain url('../img/icon-bookmark.svg') no-repeat;
    border: 0;

    &-text {
      position: absolute;
      overflow: hidden;
      width: 0.1rem;
      height: 0.1rem;
      clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
    }
  }

  &--reward {
    padding: 2rem 4rem;
    width: 17rem;
  }

  &--disabled {
    pointer-events: none;
    background-color: v.$btn-background-color--disabled;
    outline: none;
  }
}
