// Import modules
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

/*
* TABLE OF CONTENTS
*
* 1 - Modal general
* 2 - Modal thank you
*
*/

/*
***
* 1 - Modal general
***
* Section contains general modal CSS
*/

.modal {
  position: fixed;
  top: 50%;
  padding: 3rem 1.4rem;
  max-height: 80vh;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  border: none;
  transform: translateY(-50%);
  overflow-y: auto;

  &::backdrop {
    background-color: v.$modal-backdrop-background-color;
  }

  &__header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;

    @include m.breakpoint-lg {
      margin-bottom: 0;
    }
  }

  @include m.breakpoint-sm {
    margin: 0 2.5rem;
    padding: 2.5rem;
  }

  @include m.breakpoint-md {
    margin: 0 auto;
    max-width: 50rem;
  }

  @include m.breakpoint-lg {
    padding: 4rem;
    max-width: 70rem;
  }

  @include m.orientation-landscape {
    top: 50%;
  }
}

/*
***
* 2 - Modal thank you
***
* Section contains modal thank you CSS
* (visible when form is submitted)
*/

.modal-thank-you {
  padding: 4rem 2.5rem;
  text-align: center;

  &__icon-check {
    margin: 0 auto 2rem;

    @include m.breakpoint-lg {
      margin-bottom: 3rem;
    }
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__paragraph {
    margin-bottom: 4rem;
    color: v.$modal-text-color;
  }

  @include m.breakpoint-lg {
    max-width: 50rem;
    padding: 5rem;
  }
}

/*
***
* 2 - Modal thank you
***
* Section contains modal thank you CSS
* (visible when form is submitted)
*/

.back-modal {
  &__intro {
    margin-bottom: 2rem;

    @include m.breakpoint-lg {
      margin-bottom: 4rem;
    }
  }

  &__intro,
  &__form {
    color: v.$modal-text-color;
  }
}

.js {
  .modal {
    top: 50%;
  }
}

@supports (scrollbar-color: auto) {
  .modal {
    scrollbar-color: v.$modal-scrollbar-thumb-background-color
      v.$modal-scrollbar-track-background-color;
  }
}

@supports selector(::webkit-scrollbar) {
  .modal::-webkit-scrollbar-track {
    background: v.$modal-scrollbar-track-background-color;
  }
  .modal::-webkit-scrollbar-thumb {
    background: v.$modal-scrollbar-thumb-background-color;
  }
}
