/*------------------------------------------------------------------
[Table of contents]
    1. Colors
        1.1 Primary
        1.2 Neutral
        1.3 White
        1.4 Navigation
        1.5 Header
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Colors
    1.1 Primary
*/

$moderate-cyan:         hsl(176, 50%, 47%);
$dark-cyan:             hsl(176, 72%, 28%);

/*------------------------------------------------------------------
1. Colors
    1.2 Neutral
*/

$black:                 hsl(0, 0%, 0%);
$dark-gray:             hsl(0, 0%, 45%);

/*------------------------------------------------------------------
1. Colors
    1.3 White
*/

$white:                 hsl(0, 0%, 100%);

/*------------------------------------------------------------------
1. Colors
    1.4 Navigation
*/

$nav-background-color:               $white;
$nav-item-border-bottom-color:       hsl(0, 0%, 75%);
$nav-link-text-color:                $black;

/*------------------------------------------------------------------
1. Colors
    1.5 Header
*/

$header-border-color:           hsl(0, 0%, 89%);
$header-intro-text-color:       $dark-gray;