@use '../abstracts/variables' as v;

// TODO create progressive enhancement CSS basis first
.navbar {
  margin: 3rem 2.5rem;

  &__brand-link {
    display: inline-block;
    margin-bottom: 2rem;
  }

  &__toggler {
    display: none;
  }
}

.nav {
  padding: 0;
  background-color: v.$nav-background-color;
  border-radius: 0.5rem;
  list-style: none;

  &__item {
    padding: 1.5rem 4rem;
    font-size: 1.6rem;

    &:not(:last-child) {
      border-bottom: 0.1rem solid v.$nav-item-border-bottom-color;
    }
  }

  &__link {
    font-weight: bold;
    color: v.$nav-link-text-color;
    text-decoration: none;
    text-transform: capitalize;
  }
}

.js {
  .navbar {
    position: relative;
    margin-bottom: 17rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__brand-link {
      margin-bottom: 0;
      z-index: 3;
    }

    &__toggler {
      margin-right: -1.5rem;
      display: block;
      width: 4.4rem;
      height: 4.4rem;
      background: center url('../img/icon-hamburger.svg') no-repeat transparent;
      border: none;
      z-index: 3;

      &-text {
        position: absolute;
        width: 0.1rem;
        height: 0.1rem;
        overflow: hidden;
        clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
      }

      &.is-active {
        background-image: url('../img/icon-close-menu.svg');
      }
    }
  }

  .nav {
    // If JS is available, hide nav by default
    display: none;

    &-overlay {
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100vw;
        height: 60rem;
        background: v.$nav-overlay-fallback-background-color;
        background: linear-gradient(
          180deg,
          v.$nav-overlay-gradient-start-color 0%,
          v.$nav-overlay-gradient-end-color 100%
        );

        z-index: 1;
      }
    }

    &.is-expanded {
      position: absolute;
      top: 5rem;
      display: block;
      width: 100%;
      z-index: 2;
    }
  }
}
