// Import modules
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

// TODO create progressive enhancement CSS basis first

.navbar {
  margin: 3rem 2.5rem 6rem;

  &__brand-link {
    margin-bottom: 2rem;
    display: inline-block;
    z-index: 3;

    @include m.breakpoint-md {
      margin-bottom: 0;
    }
  }

  &__toggler {
    display: none;
  }

  @include m.breakpoint-sm {
    margin-bottom: 3rem;
  }

  @include m.breakpoint-md {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 100%;
    max-width: 60rem;
    justify-content: space-between;
    align-items: center;
    column-gap: 12rem;
  }

  @include m.breakpoint-xl {
    max-width: 90rem;
  }
}

.nav {
  padding: 0;
  background-color: v.$nav-background-color;
  border-radius: 0.5rem;
  list-style: none;
  z-index: 1;

  &-overlay::after {
    @include m.breakpoint-lg {
      content: '';
      position: absolute;
      display: block;
      width: 100vw;
      height: 10rem;
      background: linear-gradient(
        v.$nav-overlay-gradient-start-color 0%,
        v.$nav-overlay-gradient-end-color 100%
      );
    }
  }

  &__item {
    padding: 1.5rem 4rem;
    font-size: 1.6rem;

    &:not(:last-child) {
      border-bottom: 0.1rem solid v.$nav-item-border-bottom-color;

      @include m.breakpoint-md {
        border-bottom: 0;
      }
    }

    @include m.breakpoint-md {
      padding: 0;
    }
  }

  &__link {
    font-weight: bold;
    color: v.$nav-link-text-color;
    text-decoration: none;
    text-transform: capitalize;

    @include m.breakpoint-md {
      padding: 1.5rem 2rem;
      display: block;
      font-weight: 400;
      color: v.$nav-link-text-color-horizontal-menu;
    }
  }

  @include m.breakpoint-md {
    display: flex;
    background-color: transparent;
  }
}

.js {
  .navbar {
    position: relative;
    margin-bottom: 17rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__brand-link {
      margin-bottom: 0;
    }

    &__toggler {
      margin-right: -1.5rem;
      display: block;
      width: 4.4rem;
      height: 4.4rem;
      background: center url('../img/icon-hamburger.svg') no-repeat transparent;
      border: none;
      z-index: 3;

      &-text {
        position: absolute;
        width: 0.1rem;
        height: 0.1rem;
        overflow: hidden;
        clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
      }

      &.is-active {
        background-image: url('../img/icon-close-menu.svg');
      }

      @include m.breakpoint-md {
        display: none;
      }
    }
  }

  .nav {
    // If JS is available, hide nav by default
    display: none;

    &-overlay--mobile {
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100vw;
        height: 60rem;
        background: v.$nav-overlay-fallback-background-color;
        background: linear-gradient(
          180deg,
          v.$nav-overlay-gradient-start-color 0%,
          v.$nav-overlay-gradient-end-color 100%
        );

        z-index: 1;

        @include m.breakpoint-lg {
          content: none;
        }
      }
    }

    &.is-expanded {
      position: absolute;
      top: 5rem;
      display: block;
      width: 100%;
      z-index: 2;
    }

    @include m.breakpoint-md {
      display: flex;
      background-color: transparent;
    }
  }
}
